<%- include("./includes/head.ejs") %>

  <!-- Add your styling and other links  -->
  <link rel="stylesheet" href="/css/home.css">

  </head>

  <body>

    <%- include("./includes/navigation.ejs") %>

      <main class="container">
        <h1 class="app-title"><span class="w">W</span>elcome to the <br> quote generator app.</h1>
      </main>

      <%- include("./includes/end.ejs") %>